:root{
    --loving-blue: rgb(0, 153, 255);
    --whiter-than-white: #fafafa;
    --loving-gray: #9aa0a0;
    --loving-black: #2d2d2d;
}

/*
The great reset
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: Kumbh Sans, sans-serif;
}

/*
The header
*/
body{
    height: 100vh;
}

h2{
    font-family: Bree Serif, serif;
    font-size: 3rem;
}

header{
    background-color: var(--whiter-than-white);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--loving-blue)
}

/* 
hide main nav on small screens
*/
header nav{
    display: none;
}
/* 
Ensure the color of the header title is white
*/
header h2{
    color: var(--whiter-than-white);
}

section.hero{
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 30rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
section.hero h2{
    font-size: 3rem;
    font-weight: 700;
    color: var(--whiter-than-white);
    margin-top: 2rem;
    text-align: center;
    line-height: 2.5rem;
    padding: 0 2rem;
}

section.img{
    background-image: url(../images/mobile/image-transform.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 20rem;
    height: 100%;
}
section.message{
    min-height: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; 
    padding: 2rem 1.5rem;
    text-align: center;
}

section.message h3{
    font-family: bree serif, serif;
    font-size: 1.9rem;
    padding: 0 2rem;
}

section.message p{
    font-size: .9rem;
    font-weight: 300;
    color: var(--loving-gray);
    /* text-align: center; */
    padding: 0 .5rem;
    font-family: roboto, sans-serif;
    line-height: 1.5rem;
}

section.message a{
    font-size: .9rem;
    font-weight: 300;
    color: var(--loving-black);
    text-decoration: none;
    padding: 0 .5rem;
    font-family: bree serif, serif;
    text-transform: uppercase;
    line-height: 1.5rem;
    cursor: pointer;
}

section.standout{
    background-image: url(../images/mobile/image-stand-out.jpg);
    min-height: 30rem;
    height: 100%;
}